@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px 100px;
    background-color: #59564e;
}
.paperblock{
    display: block;
    z-index: 1;
}
.papercontainer{
        width: 900px;
        height:70vh;
        background-color:#ffefde;
   
}
.smalltitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 75px !important;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    
}
.smalltitle p{
    font-size: 13px;
    color: #7a7974;
}

.bigtitleorage{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 42px;
}
.bigtitleorage .containerorange{
    width: 47%;
    justify-content: center;
    text-align: left;
}
.bigtitleorage .containerorange h1{
    color:#d6630b;
    font-weight: 100;
    font-family: 'Noto Sans', sans-serif;
    transform: scaleY(1.1);
}
.bigtitleorage .containersmalltitle{
    width: 40%;
    justify-content: center;
    text-align: left;
}
.bigtitleorage .containersmalltitle p{
    position: relative;
    top: 10px;
    color: #7a7974;
    font-size:15px;
    transform: scaleY(1.2);
}

.papercontainerdown{
    position: relative;
    min-width: 800px;
    min-height: 108vh;
    background-color: #fff;
}
.paper{
    position: absolute;
    top: 300px;
    margin: 0 50px 0 75px !important;
    z-index: 3;
    padding:70px;
    width: 750px;
   
    min-height: 135% !important;
    border-left: 2px solid #ebe9e8;
    background-color: #f7f7f7;
  
}

.paperfold{
    position: absolute;
    right:210px !important;
    bottom: -40px;
    width: 200px;
    height: 700px !important;
    background: linear-gradient(to left bottom, transparent 50%, #fafafa, #ddd 25px, #f7f7f7);
    transform: translate(0, -25px) rotate(37.9deg);
    transform-origin: bottom right;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 9px rgba(0, 0, 0, 0.05),
    0 22.3px 10.9px rgba(0, 0, 0, 0.062),
    0 41.8px 20.4px rgba(0, 0, 0, 0.076),
    0 100px 50px rgba(0, 0, 0, 0.12);
    border-radius: 0 200px 0 0;
}
@media(max-height: 700px){
    .paperfold{
        position: absolute;
        right:210px !important;
        bottom: -45px;
        width: 200px;
        height: 700px !important;
        background: linear-gradient(to left bottom, transparent 50%, #fafafa, #ddd 25px, #f7f7f7);
        transform: translate(0, -25px) rotate(43.8deg);
        border-radius: 0 200px 0 0;
    }
}
.paper::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    box-shadow: -4px 3px 3px #3e3e3e;
    border-bottom-left-radius: 10px;
}


.paper .papertopcontainer{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.paper .papertopcontainer .papertopleft{
 display: block;    
}
.paper .papertopcontainer .papertopleft p{ 
   font-size: 13px; 
    font-weight: 700;
   }


.paper .papertopcontainer .logotopright{
    display: block;
}
.paper .papertopcontainer .logotopright .logo{
   width: 30px;
   height: 35px;
   margin-right: 10px;
}

.paper .toptitleleft{
    display: block;
    text-align: left;
    padding-top: 30px;
}
.paper .toptitleleft h3{
    font-family: 'Noto Sans JP', sans-serif;
    color: #454745; 
}
.paper .toptitleleft h3 strong{
    font-weight: 900;
    color: black;
    transform: scale(1.1);
    font-family: 'Noto Sans', sans-serif;
}
.paper .toptitleleft p{
  padding:15px 0;
  color: #454745; 
  font-size: 12px;
  font-weight: 600;
 word-spacing: 1px;
}
.paper .toptitleleft .bordertopmid{
    width: 100%;
    background-color: #ebe9e8;
    height: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 4px 0;
    color: black; 
}
.bordermidtitle{
    position: relative;
    overflow: inherit;
    margin-top: 5px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: left;
    color: black !important;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #c5c7c5;
    border-bottom: 1px solid #c5c7c5;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Noto Sans', sans-serif;
}
.bordermidtitle p{
   position: relative;
   color: #919191 !important;
   font-size: 11px;


}
.bordermidtitle span{
   color: #919191;
  
}
.toptitleleft .bordermidtitle .result{
    margin-left: 120px;
    font-weight: 900;
    font-size: 12px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
 
}
.toptitleleft .bordermidtitle .comment{
    margin-left: 30px;
    font-weight: 900;
    font-size: 12px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

.firstrow{
    border-bottom: 1px solid #c5c7c5;
    width:100%;
    height: 180px;
    justify-content: left;
    display: flex;
    padding: 0;
    margin-top: -10px;
}

.firstrow .firstrowfirstcolumn{
    padding: 0;
}
.firstrow .firstrowsecondcolumn{
    padding: 0 35px;
}
.firstrow .firstrowsecondcolumn p{
    color: red;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-left:8px;
}
.firstrow .firstrowfirstcolumn span{
    position: relative;
    top: -18px;
   font-size: 10px;
   color: #919191;
   font-family: 'Noto Sans JP', sans-serif;
}

.firstrow .firstrowthirdcolumn{
    position: relative;
    left: 20px;
    padding-top: 2px;
    line-height: 12px;
    font-family: 'Noto Sans JP', sans-serif;
}
.firstrow .firstrowthirdcolumn  .insidefirstrowthirdcolumn{
    position: relative;
}
.firstrow .firstrowthirdcolumn  .insidefirstrowthirdcolumn p{
    position:relative;
}
.firstrow .firstrowthirdcolumn  .insidefirstrowthirdcolumn p strong{
    font-weight: 900;
    font-size: 12px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
.firstrow .firstrowthirdcolumn  .insidefirstrowthirdcolumn p span{
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Noto Sans JP', sans-serif;
}
.firstrow .firstrowthirdcolumn  .insidefirstrowthirdcolumn .location{
    margin-top: -8px;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
}
.firstrow .firstrowthirdcolumn  .insidefirstrowthirdcolumn .location .p{
    margin-top: 5px;
    font-size: 10px;
    color: #454745; 
    padding: 2px 0;
    font-family: 'Noto Sans JP', sans-serif;

}
.firstrow .firstrowthirdcolumn .insidefirstrowthirdcolumn .fire{
    transform: scale(0.9);
}
.secondtolastrow{
    position: relative;
    width: 100%;
    display: block;
}

.secondtolastrow .row{
    position: relative;
    display: flex;
    width: 100%;
    padding: 8px 0;
    justify-content: left;
    height: 45px;
    border-bottom: 1px solid #c5c7c5;
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
}
.secondtolastrow .row .secondrowbody{
    display: block;
    width: 200px;
    margin-top: -10px;
    line-height: 2px;
}
.secondtolastrow .row .secondrowbody p{
    position: relative;
  
}
.row .secondrowbody span{
    position: inherit;
    font-size: 9px !important;
    font-weight:700;
}
.spanlevel{
    font-weight:700;
    font-size: 10px;
    color: #919191;
    font-family: 'Noto Sans JP', sans-serif;
}
/* 
row last */
.secondtolastrow .rowlast{
    position: relative;
    display: flex;
    width: 100%;
    padding: 8px 0;
    justify-content: left;
    height: 45px;
    font-family: 'Noto Sans JP', sans-serif;
}

.secondtolastrow .rowlast .secondrowbodylast{
    display: block;
    width: 200px;
    margin-top: -10px;
    line-height: 2px;
}

.secondtolastrow .rowlast .secondrowbodylast p{
    position: relative;

}
.secondtolastrow .rowlast .secondrowbodylast span{
    position: inherit;
    font-weight:700;
    font-size: 10px;
    color: #919191;
    font-family: 'Noto Sans JP', sans-serif;
}

.passlast{
    padding-left: 7px;
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 13px;
}
 .pass{
     padding-left: 7px;
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.graybarpadding{
    margin-top: 30px;
}

.graybarpadding .borderbotmid{
    width: 100%;
    background-color: #ebe9e8;
    height: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    font-weight: 800;
    color: black; 
}
.rowbot{
    position: relative;
    display: flex;
    width: 100%;
    padding: 8px 0;
    justify-content: left;
    height: 60px;
    border-bottom: 1px solid #c5c7c5;
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
}
.rowbot .secondrowbodybot{
    display: block;
    width: 200px;
    margin-top: -10px;
    line-height: 1px;
}

.rowbot .secondrowbodybot p{
    position: relative;
}
.rowbot .secondrowbodybot span{
    position: absolute;
    font-weight: 700;
    padding-top: 2px;
}
.rowbot .secondrowbodybot small{
    position: absolute;
    font-weight:700;
    font-size: 10px;
    color: #919191;
    font-family: 'Noto Sans JP', sans-serif;
    top: 45px;
}
.footer{
    position: absolute;
    bottom: 15px !important;
    display: flex;
    border-top: 2px solid #c5c7c5;
    width: 82%;
    justify-content: left;
}
.footer p{
   font-size: 10px !important;
   margin-right: 30px;
   color:#b8b6b6 !important;
}
.verybottom{
    position: relative;
    z-index: 5;
    justify-content: space-between;
    display: flex;
    top: -60px;
    width: 100%;
    bottom: 1px;
    padding: 0 73px 0 73px;
}
.verybottom .upstickflex{
    display: flex;
    justify-content: center;
    position: relative;
  
}
.verybottom .upstickflex .upstickpic{
    width: 20px;
    height: 23px;

}
.verybottom .upstickflex p{
    font-size: 15px;
    font-weight: 700;
    color: orangered;
    padding: 0 3px;
    letter-spacing: 2px;
}
.verybottom .upstick{
    color: #b8b6b6;
    font-size: 11px;
}
.upstickpic{
    
}

.phonepic{
    position: relative;
    top: 1px;
    width:9px;
    height: 9px;
}

@media(max-height: 700px){
    .paperfold{
        position: absolute;
        height: 700px !important;
        background: linear-gradient(to left bottom, transparent 50%, #fafafa, #ddd 25px, #f7f7f7);
        transform: translate(0, -25px) rotate(45deg);
        border-radius: 0 200px 0 0;
    }
}
@media(max-height: 680px){
    .paperfold{
        position: absolute;
        height: 700px !important;
        background: linear-gradient(to left bottom, transparent 50%, #fafafa, #ddd 25px, #f7f7f7);
        transform: translate(0, -25px) rotate(46deg);
        border-radius: 0 200px 0 0;
    }
}

@media(max-height: 700px){
    .paperfold{
        position: absolute;
        height: 700px !important;
        background: linear-gradient(to left bottom, transparent 50%, #fafafa, #ddd 25px, #f7f7f7);
        transform: translate(0, -25px) rotate(50deg);
        border-radius: 0 200px 0 0;
    }
}


